body{
	font-family: $roboto;
	font-size: $medium;

}

.header__title{
	font-family: $playfair;
}


.text-date{
	font-family: $playfair;
	font-size: $medium;

}

.navbar__link {
	color: $white;
  
	&:hover {
	  color: $light-gray;
	}
  
	&--current {
	  color: $ruddy-pink;
  
	  &:hover {
		color: $ruddy-pink;
	  }
	}
  }
